<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Para angel :D</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/css/dist/sweetalert.css">
    <style media="screen">
      .button-success,
      .button-error,
      .button-warning,
      .button-secondary {
          color: white;
          border-radius: 4px;
          text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      }

      .button-success {
              background: rgb(28, 184, 65); /* this is a green */
      }

      .button-error {
          background: rgb(202, 60, 60); /* this is a maroon */
      }

      .button-warning {
          background: rgb(223, 117, 20); /* this is an orange */
      }

      .button-secondary {
          background: rgb(66, 184, 221); /* this is a light blue */
      }

      .row::after {
          content: "";
          clear: both;
          display: table;
      }
      .col-1 {width: 8.33%}
      .col-2 {width: 16.66%}
      .col-3 {width: 25%;}
      .col-4 {width: 33.33%;}
      .col-5 {width: 41.66%;}
      .col-6 {width: 50%;}
      .col-7 {width: 58.33%;}
      .col-8 {width: 66.66%;}
      .col-9 {width: 75%;}
      .col-10 {width: 83.33%;}
      .col-11 {width: 91.66%;}
      .col-12 {width: 100%;}
      [class*="col-"] {
          float: left;
          padding: 15px;
      }
    </style>
  </head>
  <body ng-app="angel" ng-controller="angelCtrl" ng-init="init()">
    <div class="row">
      <div class="col-6">
        <button class="pure-button pure-button-primary" type="button" name="button" ng-click="btnAuto()">Agregar nuevo auto</button>
        <br><br>
        <table class="pure-table">
          <thead>
            <th>id</th>
            <th>nombre</th>
            <th>imagen</th>
            <th>:D</th>
            <th>:(</th>
          </thead>
          <tbody>
            <tr ng-repeat="test in angelImg">
              <td>{{test.id}}</td>
              <td>{{test.nombre}}</td>
              <td>
                <img src="{{test.imagen}}" style="height:100px; weight:100px;">
              </td>
              <td><button type="button" name="button" class="button-secondary pure-button" ng-click="btnEditar(test)">Editar</button></td>
              <td><button type="button" name="button" class="button-error pure-button" ng-click="btnEliminar(test)">Eliminar</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-5">
        <div ng-show="show_editar">
          <form class="pure-form">
            <h1>Editar registro {{editarR.id}}</h1>
            <label>Nombre</label><br>
            <input type="text" ng-model="editarR.nombre"><br>
            <div ng-hide="hide_img">
              <label>Editar imagen</label><br>
              <img src="{{editarR.imagen}}" alt="" style="height:100px;weight:100px;"><br>
              <button type="button" name="button" ng-click="btnCambiar()" class="pure-button">Cambiar imagen</button>
            </div>
            <div ng-show="hide_img">
              <label>Seleccciona una imagen</label><br>
              <input class="pure-button" type="file" file-model = "myFile">
            </div>
            <br><br>
            <center>
              <button type="button" name="button" ng-click="btnModificar(editarR)" class="button-success pure-button">Modificar</button>
              <button type="button" name="button" ng-click="btnCancelar(editarR)" class="button-error pure-button">cancelar</button>
            </center>
          </form>
        </div>
        <div ng-show="show_nuevo_auto">
          <form class="pure-form">
            <h1>Agregar nuevo auto</h1>
            <label>Nombre auto</label><br>
            <input type="text" ng-model="nAuto.nombre"><br>
            <label>Imagen</label><br>
            <input type="file" file-model="autoImg" class="pure-button"><br><br>
            <button class="pure-button button-success" type="button" ng-click="btnAgregaAuto(nAuto)">Agregar auto</button>
          </form>
        </div>
      </div>
    </div>
  </body>
  <script src="http://localhost:3000/js/dist/sweetalert.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
  <script type="text/javascript">
    var app = angular.module('angel', [])
    app.controller('angelCtrl', function($scope, $http){
      $scope.test = 'new life'
      var urlBase = 'http://localhost:3000'
      $scope.angelImg = [
        {id : 1, nombre : 'Jose', imagen : urlBase + '/img/gabssa.jpg'},
        {id : 2, nombre : 'Carro 1', imagen : urlBase + '/img/1.jpg'},
        {id : 3, nombre : 'Carro 2', imagen : urlBase + '/img/2.jpg'}
      ]

      $scope.show_editar = false
      $scope.btnEditar = function (item) {
        $scope.show_nuevo_auto = false
        $scope.show_editar = true
        $scope.cambiarG = item
        $scope.editarR = {
          id : item.id,
          nombre : item.nombre,
          imagen : item.imagen
        }
      }
      $scope.hide_img = false
      $scope.btnCambiar = function () {
        $scope.hide_img = true
      }

      $scope.btnCancelar = function () {
        $scope.show_editar = false
        $scope.editarR = {
          id : null,
          nombre : null,
          imagen : null
        }
      }

      $scope.btnModificar = function (item) {
        item.imagen        = $scope.myFile
        if ($scope.myFile == undefined) {
          item.imagen        = $scope.cambiarG.imagen
          $http.post(urlBase + '/update-car-item', item)
          .then(function(result){
            if (!result.data.err) {
              swal('Ok :D','Se actualizo el registro','success')
              var index          = $scope.angelImg.indexOf($scope.cambiarG);
              if (index > -1) {
                $scope.angelImg.splice(index, 1);
              }
              $scope.angelImg.push(item)
            } else {
              swal('Opss..','Hubo un error', 'error')
            }
          })
        } else {
          var fd = new FormData();
          fd.append('file', $scope.myFile);

          $http.post(urlBase + '/update-car', fd, {
              transformRequest: angular.identity,
              headers: {'Content-Type': undefined}
           })
          .then(function(result){
            if (!result.data.err) {
              $http.post(urlBase + '/update-car-name', item)
              .then(function(result){
                if (!result.data.err) {
                  var index          = $scope.angelImg.indexOf($scope.cambiarG);
                  if (index > -1) {
                      $scope.angelImg.splice(index, 1);
                  }
                  $scope.angelImg.push(result.data.info)
                  swal('Todo bien :D', 'Se modifico el registro','success')
                } else {
                  swal('Opss..','Hubo un error, description --> btnModificar 2', 'error')
                }
              })
            } else {
              swal('Opss..','Hubo un error, description --> btnModificar', 'error')
            }
          })
          var img            = item.imagen.name
          item.imagen        = urlBase + '/img/' + img
        }

        $scope.hide_img    = false
        $scope.myFile      = undefined
        $scope.show_editar = false
        $scope.editarR     = {
          id : null,
          nombre : null,
          imagen : null
        }
      } // btnModificar

      $scope.init = function () {
        $http.get(urlBase + '/init')
        .then(function(result){
          console.log(result.data,'result init')
          $scope.angelImg = result.data
        })
      }

      $scope.btnAuto = function () {
        $scope.show_nuevo_auto = true
        $scope.show_editar = false
      }

      $scope.btnAgregaAuto = function (item) {
        $scope.autoImg.nombre = item.nombre
        var fd = new FormData();
        fd.append('file', $scope.autoImg);

        $http.post(urlBase + '/set-car', fd, {
            transformRequest: angular.identity,
            headers: {'Content-Type': undefined}
         }).then(function(result){
           if (!result.data.err) {
             $http.post(urlBase + '/set-car-name', item)
             .then(function(result){
               if (!result.err) {
                 swal("Exito!", "Se agrego el nuevo auto", "success")
                 $scope.angelImg.push(result.data.info)
               } else {
                 swal("Mala suerte!", "Hubo un error description --> btnAgregaAuto", "error")
               }
             })
           } else {
             sweetAlert("Hubo un error", "description --> btnAgregaAuto", "error");
           }
         })
      }

      $scope.btnEliminar = function (item) {
        $http.post(urlBase + '/do-eliminar', item)
        .then(function(result){
          if (!result.data.err) {
            swal('Ok', 'Se elimino el registro', 'success')
            var index = $scope.angelImg.indexOf(item);
            if (index > -1) {
                $scope.angelImg.splice(index, 1);
            }
          } else {
            swal('Opss...', 'Hubo un error, description --> btnEliminar', 'error')
          }
        })
      }

    }) // FIN ANGULARJS

    app.directive('fileModel', ['$parse', function ($parse) {
        return {
           restrict: 'A',
           link: function(scope, element, attrs) {
              var model = $parse(attrs.fileModel);
              var modelSetter = model.assign;
              element.bind('change', function(){
                 scope.$apply(function(){
                    modelSetter(scope, element[0].files[0]);
                 });
              });
           }
        };
     }]); // SERVICE ANGULARJS TO UPLOAD FILES
  </script>
</html>
